@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryuttung-Rg.woff2');

@font-face {
  font-family: 'Ownglyph_ryuttung-Rg';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryuttung-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Ownglyph_ryuttung-Rg', sans-serif;
}

@layer base {
  html,
  body,
  #root {
    @apply w-full h-full min-w-[320px] bg-[#F9F7F7] text-text font-semibold;
  }
}

.wrapper {
  @apply w-full h-full flex flex-col p-6;
}

.button {
  @apply bg-[#769FCD] text-[#F7FBFC] rounded-md px-4 py-1 font-bold hover:bg-[#B9D7EA] disabled:bg-[#dee2e6]  disabled:cursor-not-allowed;
}

.button1 {
  @apply bg-secondary-1 text-text rounded-md px-4 py-1 font-bold hover:bg-secondary-2 disabled:bg-[#dee2e6]  disabled:cursor-not-allowed;
}

.input {
  @apply py-1 px-2 text-text font-normal rounded-md focus:outline-none focus:border-button focus:ring-2 focus:ring-button;
}

.tab {
  @apply flex-auto px-4 py-1 break-keep border-solid border-2 border-button-1 rounded-md;
}

.title {
  @apply text-xl text-center font-bold text-button;
}

.tr {
  @apply h-10 text-center;
}